<%= form_with(model: article) do |form| %>
  <div>
    <%= form.label :Название, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Автор, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :Описание, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "Создать", class: "btn btn-primary mb-3" %>
  </div>
<% end %>
