<h1>Редактирование статьи</h1>

<%= form_with(model: @article, method: :put, url: article_path(@article.id)) do |form| %>
  <div>
    <%= form.label :Описание, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "Сохранить", class: "btn btn-primary mb-1 mt-1" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Показать статью", article_path(@article.id) %> |
  <%= link_to "Назад к статьям", articles_path %>
</div>
