<h1>Все статьи</h1>

<%= form_tag search_articles_path, method: 'get' do %>
  <%= label_tag :Поиск %>
    <br>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag :Найти, class: "btn btn-primary" %>
<% end %>

<hr>

<%= link_to "Создать статью", new_article_path, class: "btn btn-primary mb-3" %>

<div class="digg_pagination">
  <%= will_paginate @articles, previous_label: "Назад", next_label: "Вперед" %>
</div>

<div id="articles">
  <% @articles.each do |article| %>
    <div class="card mt-3">
      <div class="card-body">
        <%= render article %>
        <p>
          <%= link_to "Показать статью", article_path(article.id) %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<div class="digg_pagination">
  <%= will_paginate @articles, previous_label: "Назад", next_label: "Вперед" %>
</div>
